<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header-css">
    <link rel="stylesheet" th:href="@{/css/mainStyle.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
</div>

<div th:fragment="header-layout" class="header-layout">
    <div class="header-sign">
        <div th:if="${currentUser} == null">
            <p th:text="#{not.logged}">You are not logged</p>
            <a href="/sign_in" th:text="#{signIn.ref}">Sign In</a>
            <a href="/sign_up" th:text="#{signUp.ref}">Sign Up</a>
        </div>
        <div th:if="${currentUser} != null">
            <p th:text="${currentUser.role + ': ' + currentUser.email}"></p>
            <a href="/logout" th:text="#{logout.ref}">Logout</a>
        </div>
    </div>
    <a class="header-logo" href="/">
        <img th:src="@{/images/notes.png}"/>
        Notes
    </a>
    <div class="header-ref">
        <a href="/" th:text="#{home.ref}">Home page</a>
        <a href="/note/create_note" th:text="#{new.note.ref}">New note</a>
        <a href="/note/my_notes" th:text="#{my.notes.ref}">My notes</a>
        <a href="/my_profile" th:text="#{my.profile.ref}">My profile</a>
        <a href="/admin/users"
           th:text="#{users.title}"
           th:if="${currentUser} != null and ${currentUser.isAdmin()}">Users</a>
    </div>
</div>
</html>
