<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header-css">
    <link rel="stylesheet" th:href="@{/mainStyle.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
</div>

<div th:fragment="header-layout" class="header-layout">
    <div class="header-sign">
        <p>You are not logged in</p>
        <a href="/sign_in">Sign In</a>
        <a href="/sign_up">Sign Up</a>
    </div>
    <a class="header-logo" href="/">
        <img th:src="@{/images/notes.png}">
        Notes
    </a>
    <div class="header-ref">
        <a href="/">Home page</a>
        <a href="/create_note">New note</a>
        <a href="/my_notes">My notes</a>
        <a href="/my_profile">Profile</a>
    </div>
</div>
</html>
