<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{editPassword.title}">Edit password</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="content">
    <div th:replace="fragments/header :: header-layout"></div>
    <div class="page-content">
        <form class="editPassword-form" th:method="PATCH"
              th:action="@{/my_profile/editPassword}">
            <h4 th:text="#{editPassword.title}">Edit password</h4>

            <label for="curPassword"
                   th:text="#{editPassword.curPassword.text}">
                Current password</label>
            <input type="password" id="curPassword" name="curPassword" placeholder="Current password"
                   th:placeholder="#{editPassword.curPassword.text}"/>
            <p class="validationError"
               th:if="${errorCur}"
               th:text="#{editPassword.errorCur}"></p>
            <br>


            <label for="newPassword"
                   th:text="#{editPassword.newPassword.text}">New password</label>
            <input type="password" id="newPassword" name="newPassword" placeholder="New password"
                   th:placeholder="#{editPassword.newPassword.text}"/>
            <br>

            <label for="repPassword"
                   th:text="#{editPassword.repPassword.text}">Repeat</label>
            <input type="password" id="repPassword" name="repPassword" placeholder="Repeat"
                   th:placeholder="#{editPassword.repPassword.text}"/>
            <p class="validationError"
               th:if="${errorNew}"
               th:text="#{editPassword.errorNew}"></p>
            <br>

            <input type="submit" value="Apply"
                   th:value="#{editPassword.submit.value}"/>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>