<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.title}">Main page</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="content">
    <div th:replace="fragments/header :: header-layout"></div>
    <div class="index-content">
        <h4 th:text="#{index.content.title }">All notes</h4>
        <h5 th:if="${notes.size == 0}" th:text="#{index.content.empty}">Empty notes yet</h5>

        <div th:each="note: ${notes}" class="note-one">
            <h5 class="note-title" th:text="${note.title}"></h5>
            <p class="note-content" th:text="${note.content}"></p>
            <p class="note-created" th:text="#{index.content.created} + ' ' + ${note.created}"></p>
            <div th:if="${currentUser} != null">
                <a th:if="${currentUser.role} == 'ADMIN'"
                   th:href="@{/note/delete_note?id=} + ${note.id}"
                   th:text="#{index.content.delete}">Delete
                </a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>